[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.2"
djangorestframework = "*"
django-cors-headers = "*"
ocrmypdf = "*"
langchain-ollama = "*"
pypdf2 = "*"
langchain-postgres = "*"
langchain = "*"
psycopg = "*"
redis = "*"
pyspellchecker = "*"
"pdfminer.six" = "*"
textblob = "*"
wordninja = "*"
pdftotext = "*"
scikit-learn = "*"
numpy = "*"
semchunk = "*"
tiktoken = "*"
marker-pdf = "*"
marker = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
celery = {extras = ["redis"], version = "==5.2.7"}

[dev-packages]

[requires]
python_version = "3.11"
