Django==5.1.2
djangorestframework
django-cors-headers
celery
ocrmypdf
langchain-ollama
PyPDF2
langchain-postgres
langchain
psycopg
redis
celery[redis]==5.2.7
pyspellchecker
pdfminer.six
textblob
wordninja
pdftotext
scikit-learn
numpy
semchunk
tiktoken
marker-pdf
marker
torch
torchvision
torchaudio
gevent